/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

/*
--basik-black: навигация, заголовки, футер, текст формы, текст сортировки, иконки форм наведение
--basik-dark: параграфы
--basik-white: sedona свг, фича 1 и 2, текст кнопок, иконки соц сетей, основной фон, цвет текста фильтров, фон кнопки фильтра при наведении
--special-light: welcome, фичи-свг, фон фичи 1 и 2, фон иконок соц сетей, фон кнопки попапа, активная/наведение сортировка, шапка-наведение, гостиница-наведение, иконки форм нажатие, копирайт наведение
--special-dark: кнопка поиска гостиницы, шапка выбранный
--welcome-svg: to-the-gorgeous
--filter-special: фильтр наведение
*/

:root {
  --basik-black: #000000;
  --basik-dark: #333333;
  --basik-white: #FFFFFF;
  --special-light: #81B3D2;
  --special-light-welcome: #81B3D3;
  --special-dark: #766357;
  --welcome-svg: #766458;
  --form-icons: #A9A9A9;
  --sorting-arrow: #CACACA;
  --filter-special: #6A6A6A;
  --button-light-hover: #669EC0;
  --button-light-click: #5496BD;
  --button-dark-hover: #604E43;
  --button-dark-click: #503E33;
  --light-gray-background: #F2F2F2;
  --form-hover-background: #EBEBEB;
  --form-click-background: #E5E5E5;
  --copyright-click: #BDBBBC;
  --rating: #666666;
  --advantages-background: #EEEEEE;
  --page-background: #888888;
  --form-shadow: rgba(0, 1, 1, 0.15);
}

/* Global */
.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basik-dark);
  text-transform: uppercase;
  background-color: var(--page-background);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: var(--basik-white);
  text-align: center;
}

.catalog-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  background-color: var(--basik-white);
  text-align: center;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

img {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Main navigation */

.main-nav {
  display: grid;
  grid-template-columns: 138px 1fr;
  line-height: 26px;
  color: var(--basik-black);
  background-color: transparent;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

.main-nav-list li {
  margin: 15px;
}

.main-nav-item {
  color: var(--basik-black);
  font-weight: 700;
}

.main-nav-item:hover {
  color: var(--special-light);
}

.main-nav-current {
  color: var(--special-dark);
}

.main-nav-item:focus {
  color: var(--basik-black);
  opacity: 0.3;
}

/* Welcome sections */

.welcome-logo {
  background-color: var(--basik-dark);
  background-image: url(../img/main-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200 509;
  margin-bottom: 42px;
}

.welcome-logo img:first-child {
  margin-top: 75px;
  margin-bottom: 10px;
}

.welcome-logo img:last-of-type {
  margin-top: 50px;
  margin-bottom: 68px;
}

.welcome-text {
  font-weight: 700;
  color: var(--basik-black);
  font-size: 21px;
  line-height: 26px;
  height: 80px;
  margin-bottom: 16,5px;
}

/* Advantages */

.advantages {
  margin-bottom: 58px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  background-color: var(--advantages-background);
}

.advantage-item {
  order: 2;
}

.advantages-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 51px;
}

.advantage-item-header {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basik-black);
  margin-top: 47px;
  margin-bottom: 25px;
  padding: 0;
}

.advantage-special, .advantage-special .advantage-item-header {
  background-color: var(--special-light);
  color: var(--basik-white);
}

.advantage-special {
  grid-column: 1 / -1;
}

.advantage-special-city {
  order: 0;
  display: grid;
  grid-row: 1 / -1;
  grid-template-columns: 800px auto;
  grid-template-rows: repeat(3, auto);
}

.advantage-item-pic {
  grid-row: 1 / -1;
  width: 800px;
  height: 256px;
}

.advantage-item-num {
  margin: 0 0 23px 0;
}

.advantage-item-description {
  margin: 0 0 54px 0;
}

.advantage-special-bridge {
  display: grid;
  grid-template-columns: auto 800px;
  grid-template-rows: repeat(3, auto);
  order: 2;
}

.advantage-special-bridge .advantage-item-pic {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

.living-recommends {
  grid-column: 1 / -1;
  order: 1;
}

.living-recommends-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  background-color: var(--basik-white);
  color: var(--basik-dark);
}

.recommend-item-header {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basik-black);
  margin: 160px 0 25px 0;
}

.recommend-item-description {
  margin: 0 0 82px 0;
}

/* Housing search */

.housing-search-intro {
  font-size: 30px;
  font-weight: 700;
  color: var(--basik-black);
  margin: 0 0 4px 0;
}

.housing-search p {
  line-height: 24px;
}

.housing-search-suggestion {
  height: 95px;
  font-size: 14px;
  color: var(--basik-dark);
  margin-bottom: 0 0 24px 0;
}

.housing-search img {
  background-color: var(--special-dark);
}

/* Housing search form */

.housing-search-form {
  color: var(--basik-black);
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basik-white);
  box-shadow: 0px 7px 15px var(--form-shadow);
}

.housing-search-form input {
  background-color: var(--light-gray-background);
  border: none;
  font-weight: 700;
}

.housing-search-form input:hover {
  background-color: var(--form-hover-background);
  border: none;
}

.housing-search-form input::placeholder {
  font: inherit;
  color: var(--basik-black);
  font-weight: 700;
  text-transform: uppercase;
}

.housing-search-form input:focus {
  background-color: var(--basik-white);
  border-color: var(--form-click-background);
  border-width: 2px;
  border-style: solid;
  outline: none;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  color: var(--basik-black);
  line-height: 26px;
}

.footer-contact-phone, .footer-hashtag {
  color: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: auto 3px;
  color: var(--basik-white);
  background-color: var(--special-light);
}

.social-media-item:hover {
  background-color: var(--button-light-hover);
}

.social-media-item:focus {
  background-color: var(--button-light-click);
}

.social-media-item:focus img, .social-media-item:focus span {
  opacity: 0.3;
}

.footer-copyright:hover svg {
  fill: var(--special-light);
}

.footer-copyright:focus svg {
  fill: var(--copyright-click);
}

/* Страница каталога */

.housing-page-margin {
  margin: 0 72px;
}

/*  Форма поиска */

.filters {
  width: 1200px;
  margin: 0 auto;
  background-image: url(../img/filters-background.jpg);
  background-color: var(--special-dark);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--basik-white);
  padding: 0;
  background-color: var(--basik-white);
  text-align: center;
}

.filters-form {
  display: grid;
  grid-template-columns: max-content max-content auto;

}

.filters legend {
  font-weight: 700;
  font-size: 16px;
}

.filters fieldset {
  border: none;
}

.price-choice {
  justify-self: end;
}

.price-input {
  background-color: transparent;
  color: var(--basik-white);
  border: 2px solid var(--basik-white);
}

/* Sorting */

.sorting-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.sorting-results {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basik-black);
}

.sorting-header {
  font-size: 12px;
  line-height: 18px;
  color: var(--basik-black);
}

.sorting-item span {
  opacity: 0.3;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--basik-black);
  border-bottom: 1px dashed var(--special-light);
}

.sorting-item:hover span {
  color: var(--special-light);
  opacity: 1;
}

.sorting-item:focus span {
  color: var(--basik-black);
  opacity: 1;
}

.sorting-item:focus {
  border: none;
}

.sorting-item.current span {
  color: var(--special-light);
  opacity: 1;
}

.sorting-item.current {
  border: none;
}

.sorting-item-arrow svg {
  fill: var(--sorting-arrow);
}

.sorting-item-arrow:hover svg {
  fill: var(--basik-black);
}

.sorting-item-arrow:focus svg, .sorting-item-arrow.current svg {
  fill: var(--special-light);
}

/* Housing search results */

.searching-results-item {
  border-top: 1px solid var(--form-click-background);
  display: grid;
  column-gap: 30px;
  grid-template-columns: 135px max-content max-content auto;
  grid-template-rows: repeat(4, auto);
}

.suitable-item-pic {
  grid-row: 1 / -1;
  margin: auto 0;
}

.searching-results-item:last-child {
  border-bottom: 1px solid var(--form-click-background);
}

.searching-results-item h3 {
  grid-column: 2 / 4;
  justify-self: start;
  text-align: start;
}

.searching-results-item p {
  justify-self: start;
}

.suitable-item-header {
  color: var(--basik-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.suitable-item-header:hover {
  color: var(--special-light);
}

.suitable-item-header:focus {
  color: var(--basik-black);
  opacity: 0.3;
}

.rating {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-self: end;
}

.rating-star {
  width: 18px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 5px;
}

.rating-star:last-child {
  margin-right: 0;
}

.searching-results-item .suitable-item-rating {
  color: var(--rating);
  background-color: var(--light-gray-background);
  grid-column: 4 / 5;
  justify-self: end;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basik-white);
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.housing-search-button {
  background-color: var(--special-dark);
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  padding: 30px 124px;
}

.housing-search-button:hover {
  background-color: var(--button-dark-hover);
}

.housing-search-button:focus {
  background-color: var(--button-dark-click);
}

.housing-search-button:focus span {
  opacity: 0.3;
}

.search-form-button {
  background-color: var(--special-light);
  font-size: 21px;
}

.search-form-button:hover {
  background-color: var(--button-light-hover);
}

.search-form-button:focus {
  background-color: var(--button-light-click);
}

.search-form-button:focus span {
  opacity: 0.3;
}

.search-form-calendar-button, .search-form-plus-button, .search-form-minus-button {
  background-color: transparent;
}

.search-form-calendar-button svg, .search-form-plus-button svg, .search-form-minus-button svg {
  fill: var(--form-icons);
}

.search-form-calendar-button:hover svg, .search-form-plus-button:hover svg, .search-form-minus-button:hover svg {
  fill: var(--basik-black);
}

.search-form-calendar-button:focus svg, .search-form-plus-button:focus svg, .search-form-minus-button:focus svg {
  fill: var(--special-light);
}

.filter-button {
  background-color: transparent;
  border: 2px solid var(--basik-white);
}

.filter-button:hover {
  background-color: var(--basik-white);
  color: var(--basik-black);
}

.suitable-item-detailes {
  background-color: var(--special-light);
  color: var(--basik-white);
  font-weight: bold;
  grid-column: 2 / 3;
}

.suitable-item-detailes:hover {
  background-color: var(--button-light-hover);
}

.suitable-item-detailes:focus {
  background-color: var(--button-light-click);
}

.suitable-item-detailes:focus span {
  opacity: 0.3;
}

.suitable-item-book {
  background-color: var(--special-dark);
  color: var(--basik-white);
  font-weight: bold;
  grid-column: 3 / 4;
}

.suitable-item-book:hover {
  background-color: var(--button-dark-hover);
}

.suitable-item-book:focus {
  background-color: var(--button-dark-click);
}

.suitable-item-book:focus span {
  opacity: 0.3;
}